.containeSkills {
  height:100%
}

.h1Skills {
  font-family: GameOfSquids;
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
  font-size: 500%;
  color: black;
}

.col-12 {
  display: flex;
}

.containerSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% 2% 1% 2%;
}

.skills {
  width: 20%;
}

.h3Skills{
  margin-top: 2%;
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .h1Skills {
    font-size: 300%;
    margin-top: 5%;
    margin-bottom: 15%;
  }
  .skills {
    width: 60%;
  }
  .h3Skills {
    font-size: 15px;
  }

  .containerSkills {
    margin-bottom:15%
  }
}
