.sidebar {
  width: 20%;
  height: 100vh;
  background-color: black;
}

.name {
  padding: 50px 10px 70px 10px;
  display:flex;
  justify-content: center;
}

.photoContainer{
  width: 55%;
  margin: 0 auto;
}

.photo{
  border-radius: 1000px;
  height: 25vh;
}

.h1{
    text-align :center;
    font-family: GameOfSquids;
    /* display: block;
    white-space: nowrap;
    width: 18ch;
    animation: typing 2s steps(18), blink ,5s infinite step-end alternate;
    overflow: hidden; */
}

/* @keyframes typing{
  from { width: 0}
}

@keyframes blink {
  50% { border-color: transparent}
} */

.h1:hover{
  text-shadow: 0 0 5px rgb(225, 219, 219), 0 0 20px rgb(225, 219, 219), 4px 3px 3px rgba(0,255,91,0);}


.text {
  padding: 50px 15px 15px 15px;
  display: grid;
  justify-items: center;
  align-content: center;
  list-style: none;
  cursor: pointer;
  font-size: 20px;
}

.ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: GameOfSquids;
}


.text:hover{
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF,4px 3px 3px rgba(0,255,91,0);}

  @font-face {
    font-family: GameOfSquids;
    src: url(../../assets/GameOfSquids.ttf);
}
